@model Exam_Helper.ViewsModel.TestChoiceViewModel

<h1>
    Choose Test Method:
</h1>

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>

<form asp-action="Index" method="post">
    @for (int i = 0; i < Model.TestMethodsNames.Length; i++)
    {
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <button type="button" class="btn-group-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_@Model.TestMethodsNames[i]">
                            <input asp-for="@Model.SelectedId" value="@Model.TestsMethodsIds[i]" type="radio" id="method" method-type="@Model.TestMethodsNames[i]" />
                            <label asp-for="@Model.TestsMethodsIds">@Model.TestMethodsNames[i]</label>
                            <input asp-for="@Model.TestsMethodsIds" type="hidden" />
                            <input asp-for="@Model.ServiceInfo" type="hidden" id="ServiceInfo" />
                            <span asp-validation-for="@Model.SelectedId"></span>
                        </button>
                    </h4>
                </div>
                <div id="collapse_@Model.TestMethodsNames[i]" class="panel-collapse collapse in">
                    <div class="panel-body">
                        @switch (@Model.TestMethodsNames[i])
                            {
                                case "missed_words":
                                <p>
                                    Quantity of missed words:
                                    <input type="range" min="1" max="100" value="50" id="mw_quantity">
                                </p>
                                    break;
                                case "puzzle":
                                <p>
                                    Quantity of blocks:
                                    <input type="range" min="1" max="100" value="50" id="p_quantity">
                                </p>
                                        break;
                                    default: break;
                                }
                    </div>
                </div>
            </div>

        </div>
    }
    <div class="form-group">
        <input type="submit" value="Make a Choice" class="btn btn-primary" id="sumbit" />
    </div>
</form>

<a asp-controller="PublicLibrary" asp-action="Index">
    <input type="button" value="Back to the library" class="btn btn-primary" />
</a>

<script>
    $("input#sumbit").click(function () {
        var curr_method;
        $("input#method").each(function () {
            if ($(this).is(":checked"))
            {
                console.log($(this).is(":checked"), " :: ", $(this).attr("method-type"));
                curr_method = $(this).attr("method-type");
            }
        });

        console.log("curr method is ", curr_method);
        
        switch (curr_method) {
            case "missed_words":
                $("input#ServiceInfo").val($("input#mw_quantity").val().toString());
                break;
            case "puzzle":
                $("input#ServiceInfo").val($("input#p_quantity").val().toString());
                break;
        }
    });
</script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}