@model Exam_Helper.ViewsModel.TestChoiceViewModel

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<main style="height: 75vh;" class="d-flex align-items-center justify-content-center">
    <form asp-action="Index" method="post">
        <h2>
            Выберете метод тестирования:
        </h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        @for (int i = 0; i < Model.TestMethodsNames.Length; i++)
        {
            <div class="panel-group" id="accordion">
                <div class="panel panel-default mb-3">
                    <div class="panel-heading">
                        <div class="d-flex justify-content-between pt-3 pb-2">
                            <div class="input-group">
                                <div class="input-group-prepend bg-white mr-3">
                                    <div class="input-group-text">
                                        <input asp-for="@Model.SelectedId" value="@Model.TestsMethodsIds[i]" type="radio" id="method" method-type="@Model.TestMethodsNames[i]" />
                                        <input asp-for="@Model.TestsMethodsIds[i]" type="hidden" />
                                        <input asp-for="@Model.ServiceInfo" type="hidden" id="ServiceInfo" />
                                        <span asp-validation-for="@Model.SelectedId" hidden></span>
                                    </div>
                                    <div class="border" style="background-color: #e9ecef; border-color:#e9ecef;">
                                        <div class="text-center" asp-for="@Model.TestsMethodsIds[i]">
                                            @switch (Model.TestMethodsNames[i])
                                            {
                                                case "missed_words":
                                                    <div class="miss_word">Метод пропущенных слов</div>
                                                    <span class="tooltip miss_word_tootlip">Данный метод случайным образом вставляет пропуски, которые вам необходимо будет заполнить</span>
                                                    break;
                                                case "puzzle":

                                                    @:Воссоздание по частям
                                                  break;
                              
                                                    <div class="puzzle">Воссоздание по частям</div>
                                                    <span class="tooltip puzzle_tootlip">Данный метод представляет из себя нечто вроде конструктора, из частей которого вам предстоит собрать правильную последовательность</span>
                                                case "MultiTesting":
                                                    @:Конструктор тестов
                                                    break;

                                                case "wrong_text":
                                                    @:Исправление ошибок
                                                    break;
                                                }
                                        </div>
                                    </div>
                                    <button class="btn" type="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_@Model.TestMethodsNames[i]">
                                        <img class="setting-btn" src="./sett_icon.png" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="collapse_@Model.TestMethodsNames[i]" class="panel-collapse collapse in">
                        <div class="panel-body">
                            @switch (Model.TestMethodsNames[i])
                            {
                                case "missed_words":
                                    <p>
                                        Количество пропущенных слов:
                                        <input type="range" min="1" max="100" value="50" id="mw_quantity">
                                    </p>
                                    <p>
                                        <span>
                                            Прилагательные:
                                            <input type="checkbox" id="mw_isPrill">
                                        </span>
                                        <br />
                                        <span>
                                            Знаки:
                                            <input type="checkbox" id="mw_isLetter" disabled>
                                        </span>
                                        <br />
                                        <span>
                                            Спец. символы:
                                            <input type="checkbox" id="mw_isSign" disabled>
                                        </span>
                                    </p>
                                    break;
                                case "puzzle":
                                    <p>
                                        Количество частей:
                                        <input type="range" min="1" max="100" value="50" id="p_quantity">
                                    </p>
                                    <p>
                                        <span>
                                            Различная длина частей:
                                            <input type="checkbox" id="p_diffLenghtOfBlock">
                                        </span>
                                        <br />
                                        <span>
                                            Части по умолчанию:
                                            <input type="checkbox" id="p_defaultBlocks" disabled>
                                        </span>
                                    </p>

                                    <p>

                                        <span>
                                            Тип разделения:
                                            <input type="range" min="0" max="2" step="1" value="0" id="p_sep" onchange="UpdateSepName()" />
                                            <span id="sepLog">sepIndulge</span>
                                        </span>

                                    </p>
                                    break;

                                case "MultiTesting":
                                    <p>
                                        Количество тестов "Воссоздание по частям":
                                        <input type="range" min="1" max="5" value="3" id="mtParts_quantity">
                                    </p>
                                    <p>
                                        Количество тестов "Вставка пропущенных слов":
                                        <input type="range" min="1" max="5" value="3" id="mtMisWords_quantity">
                                    </p>
                                    break;
                                case "wrong_text":
                                    <p>
                                        Количество ошибок:
                                        <input type="range" min="1" max="100" value="50" id="wt_quantity">
                                    </p>
                                    <p>
                                        <span>
                                            Убрать окончания у прилагательных:
                                            <input type="checkbox" id="wt_hideEndings" checked disabled>
                                        </span>
                                        <br />
                                        <span>
                                            Делать ошибки в числах:
                                            <input type="checkbox" id="wt_numbers" disabled>
                                        </span>
                                        <br />
                                        <span>
                                            Делать ошибки в знаках:
                                            <input type="checkbox" id="wt_signs" disabled>
                                        </span>
                                        <br />
                                        <span>
                                            Делать ошибки в греческих буквах:
                                            <input type="checkbox" id="wt_alpha" disabled>
                                        </span>
                                    </p>
                                    break;
                                default: break;
                            }
                        </div>
                    </div>
                </div>

            </div>
        }
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary" id="sumbit" onclick="MakeInstruction()">Сделать выбор</button>
        </div>
        <a asp-controller="PublicLibrary" asp-action="Index">
            <input type="button" value="Вернуться в библиотеку" class="btn btn-primary" />
        </a>
    </form>


</main>


<script>

    const missed_words = $("#collapse_missed_words > div");
    /**/
    const puzzle = $("#collapse_puzzle > div");
    /**/
    const multi = $("#collapse_MultiTesting > div");
    /**/
    const wrong_text = $("#collapse_wrong_text > div");
    /**/

    function MakeInstruction() {
        var curr_method;
        $("input#method").each(function () {
            if ($(this).is(":checked")) {
                curr_method = $(this).attr("method-type");
            }
        });

        var instruction;

        switch (curr_method) {
            case "missed_words":
                instruction =
                    missed_words.find("input#mw_quantity").val().toString() + ";" +
                    missed_words.find("input#mw_isPrill").is(":checked").toString();
                break;
            case "puzzle":
                instruction =
                    puzzle.find("input#p_quantity").val().toString() + ";" +
                    puzzle.find("input#p_diffLenghtOfBlock").is(":checked").toString() + ";" +
                    puzzle.find("input#p_defaultBlocks").is(":checked").toString() + ";" +
                    puzzle.find("input#p_sep").val().toString() + ";";
                break;
            case "MultiTesting":
                instruction =
                    multi.find("input#mtParts_quantity").val().toString() + ";" +
                    multi.find("input#mtMisWords_quantity").val().toString();
                break;
            case "wrong_text":
                instruction =
                    wrong_text.find("input#wt_quantity").val().toString() + ";" +
                    wrong_text.find("input#wt_hideEndings").is(":checked").toString() + ";" +
                    wrong_text.find("input#wt_numbers").is(":checked").toString() + ";" +
                    wrong_text.find("input#wt_signs").is(":checked").toString() + ";" +
                    wrong_text.find("input#wt_alpha").is(":checked").toString();
                break;
        }

        $("input#ServiceInfo").val(instruction);
    };

    const sepSlider = puzzle.find("input#p_sep");
    const sepLog = puzzle.find("span#sepLog");

    function UpdateSepName() {
        var buf = "";
        switch (sepSlider.val()) {
            case "0": buf = "sepIndulge";
                break;
            case "1": buf = "sepByParts";
                break;
            case "2": buf = "sepBySentances";
                break;
            default: buf = "impossible";
        }
        sepLog.html(buf);
    };
</script>

<style>
    .setting-btn {
        width: 50%;
    }

    .tooltip {
        width: 75%;
    }

    .miss_word:hover + .miss_word_tootlip {
        display: block;
        opacity: 1;
    }

    .puzzle:hover + .puzzle_tootlip {
        display: block;
        opacity: 1;
    }
</style>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}