@model Exam_Helper.ViewsModel.TestChoiceViewModel

<head>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<main class="container d-flex align-items-center justify-content-center">
    <form asp-action="Index" method="post">
        <h2>
            Выберите метод тестирования:
        </h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        
        <div>

            <input type="radio" id="de_choice" name="de_choice" de-choice="1" checked>
            <label>Определение</label>
            <input type="radio" id="de_choice" name="de_choice" de-choice="2">
            <label>Доказательство</label>

        </div>
        <div>
            @for (int i = 0; i < Model.TestMethodsNames.Length; i++)
            {
                <div class="panel-group row justify-content-between" id="accordion">
                    <div class="panel mb-3">
                        <div class="panel-heading">
                            <div class="d-flex justify-content-between pt-3 pb-2">
                                <div class="input-group">
                                    <div class="input-group-prepend align-content-center bg-white mr-3 test-card">
                                        <div class="input-group-text">
                                            <input asp-for="@Model.SelectedId" value="@Model.TestsMethodsIds[i]" type="radio" id="method" method-type="@Model.TestMethodsNames[i]" />
                                            <input asp-for="@Model.TestsMethodsIds[i]" type="hidden" />
                                            <input asp-for="@Model.ServiceInfo" type="hidden" id="ServiceInfo" />
                                            <input asp-for="@Model.MultiTestingInfoTests" type="hidden" id="InfoTest">
                                            <span asp-validation-for="@Model.SelectedId" hidden></span>
                                        </div>
                                        <div class="d-flex align-items-center text-center  p-2" asp-for="@Model.TestsMethodsIds[i]">
                                            @switch (Model.TestMethodsNames[i])
                                            {
                                                case "missed_words":
                                                    <div class="miss_word"> <p class="mt-2">Метод пропущенных слов</p></div>
                                                    @*<span class="tooltip miss_word_tootlip">Данный метод случайным образом вставляет пропуски, которые вам необходимо будет заполнить</span>*@
                                                    break;
                                                case "puzzle":

                                                    @:Воссоздание по частям
                                                    break;

                                                <div class="puzzle"><p class="mt-2">Воссоздание по частям</p></div>
                                                @*<span class="tooltip puzzle_tootlip">Данный метод представляет из себя нечто вроде конструктора, из частей которого вам предстоит собрать правильную последовательность</span>*@
                                                case "MultiTesting":
                                                    @:Конструктор тестов
                                                    break;
                                                case "wrong_text":
                                                    @:Исправление ошибок
                                                    break;
                                            }
                                        </div>
                                        <button class="btn" type="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_@Model.TestMethodsNames[i]">
                                            <img class="setting-btn" src="~/sett_icon.png" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="collapse_@Model.TestMethodsNames[i]" class="panel-collapse collapse in">
                            @switch (Model.TestMethodsNames[i])
                            {
                                case "missed_words":
                                    <div class="panel-body">
                                        <p>
                                            Количество пропущенных слов:
                                            <input type="range" min="1" max="100" value="50" id="mw_quantity">
                                        </p>
                                        <p>
                                            <span>
                                                Прилагательные:
                                                <input type="checkbox" id="mw_isPrill">
                                            </span>
                                            <br />
                                            <span>
                                                Знаки:
                                                <input type="checkbox" id="mw_isLetter" disabled>
                                            </span>
                                            <br />
                                            <span>
                                                Спец. символы:
                                                <input type="checkbox" id="mw_isSign" disabled>
                                            </span>
                                        </p>
                                    </div>
                                    break;
                                case "puzzle":
                                    <div class="panel-body">
                                        <p>
                                            Количество частей:
                                            <input type="range" min="1" max="100" value="50" id="p_quantity">
                                        </p>

                                        <p>
                                            <span>
                                                Различная длина частей:
                                                <input type="checkbox" id="p_diffLenghtOfBlock">
                                            </span>
                                            <br />
                                            <span>
                                                Части по умолчанию:
                                                <input type="checkbox" id="p_defaultBlocks" disabled>
                                            </span>
                                        </p>

                                        <p>

                                            <span>
                                                Тип разделения:
                                                <input type="range" min="0" max="2" step="1" value="0" id="p_sep" onchange="UpdateSepName()" />
                                                <span id="sepLog">sepIndulge</span>
                                            </span>

                                        </p>
                                    </div>
                                    break;

                                case "MultiTesting":
                        <div class="panel-body-multi">
                            <p>
                                Количество тестов "Воссоздание по частям":
                                <input type="range" min="1" max="5" value="3" id="mtParts_quantity" onchange="displayValue(this,'mtPuzzle-input')">
                                <span id="mtPuzzle-input">3</span>
                            </p>
                            <p>
                                Настройка для метода "Воссоздание по частям"
                            </p>
                            <div id="collapse_MultiTesting_Puzzle" class="panel-collapse collapse in">
                                <div class="panel-body-multi-mini">
                                    <p>
                                        Количество частей:
                                        <input type="range" min="1" max="100" value="50" id="MultiTesting_p_quantity">
                                    </p>
                                    <p>
                                        <span>
                                            Различная длина частей:
                                            <input type="checkbox" id="MultiTesting_p_diffLenghtOfBlock">
                                        </span>
                                        <br />
                                        <span>
                                            Части по умолчанию:
                                            <input type="checkbox" id="MultiTesting_p_defaultBlocks" disabled>
                                        </span>
                                    </p>

                                    <p>

                                        <span>
                                            Тип разделения:
                                            <input type="range" min="0" max="2" step="1" value="0" id="MultiTesting_p_sep" onchange="UpdateSepName()" />
                                            <span id="sepLog">sepIndulge</span>
                                        </span>

                                    </p>
                                </div>
                            </div>
                            <button class="btn" type="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_MultiTesting_Puzzle">
                                <img class="setting-btn" src="~/sett_icon.png" />
                            </button>


                            <p>
                                Количество тестов "Вставка пропущенных слов":
                                <input type="range" min="1" max="5" value="3" id="mtMisWords_quantity" onchange="displayValue(this,'mtMisWords-input')">
                                <span id="mtMisWords-input">3</span>
                            </p>

                            <p>
                                Настройка для метода "Вставка пропущенных слов"
                            </p>

                            <div id="collapse_MultiTesting_MissedWords" class="panel-collapse collapse in">
                                <div class="panel-body-multi-mini">
                                    <p>
                                        Количество пропущенных слов:
                                        <input type="range" min="1" max="100" value="50" id="MultiTesting_mw_quantity">
                                    </p>
                                    <p>
                                        <span>
                                            Прилагательные:
                                            <input type="checkbox" id="MultiTesting_mw_isPrill">
                                        </span>
                                        <br />
                                        <span>
                                            Знаки:
                                            <input type="checkbox" id="MultiTesting_mw_isLetter" disabled>
                                        </span>
                                        <br />
                                        <span>
                                            Спец. символы:
                                            <input type="checkbox" id="MultiTesting_mw_isSign" disabled>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <button class="btn" type="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_MultiTesting_MissedWords">
                                <img class="setting-btn" src="~/sett_icon.png" />
                            </button>

                            <p>
                                Настройка для метода "Исправление ошибок"
                            </p>

                            <p>
                                Количество тестов "Исправление ошибок":
                                <input type="range" min="1" max="5" value="3" id="mtwrong_text_quantity" onchange="displayValue(this,'mtwrong_text-input')">
                                <span id="mtwrong_text-input">3</span>
                            </p>

                            <div id="collapse_MultiTesting_wrong_text" class="panel-collapse collapse in">
                                <div class="panel-body-multi-mini">

                                    <p>
                                        Количество ошибок:
                                        <input type="range" min="1" max="100" value="50" id="MultiTesting_wt_quantity">
                                    </p>
                                    <p>
                                        <span>
                                            Убрать окончания у прилагательных:
                                            <input type="checkbox" id="MultiTesting_wt_hideEndings" checked disabled>
                                        </span>
                                        <br />
                                        <span>
                                            Делать ошибки в числах:
                                            <input type="checkbox" id="MultiTesting_wt_numbers">
                                        </span>
                                        <br />
                                        <span>
                                            Делать ошибки в знаках:
                                            <input type="checkbox" id="MultiTesting_wt_signs">
                                        </span>
                                        <br />
                                        <span>
                                            Делать ошибки в греческих буквах:
                                            <input type="checkbox" id="MultiTesting_wt_alpha">
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <button class="btn" type="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapse_MultiTesting_wrong_text">
                                <img class="setting-btn" src="~/sett_icon.png" />
                            </button>

                        </div>
                                    break;
                                case "wrong_text":
                                    <div class="panel-body">
                                        <p>
                                            Количество ошибок:
                                            <input type="range" min="1" max="100" value="50" id="wt_quantity">
                                        </p>
                                        <p>
                                            <span>
                                                Убрать окончания у прилагательных:
                                                <input type="checkbox" id="wt_hideEndings" checked disabled>
                                            </span>
                                            <br />
                                            <span>
                                                Делать ошибки в числах:
                                                <input type="checkbox" id="wt_numbers">
                                            </span>
                                            <br />
                                            <span>
                                                Делать ошибки в знаках:
                                                <input type="checkbox" id="wt_signs">
                                            </span>
                                            <br />
                                            <span>
                                                Делать ошибки в греческих буквах:
                                                <input type="checkbox" id="wt_alpha">
                                            </span>
                                        </p>
                                    </div>
                                    break;
                                default: break;
                            }
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="form-group mt-3">
            <button type="submit" class="btn btn-primary" id="sumbit" onclick="MakeInstruction()">Сделать выбор</button>
        </div>
        <a asp-controller=@ViewData["ReturnControllerName"] asp-action="Index">
            <input type="button" value="Вернуться в библиотеку" class="btn btn-primary" />
        </a>
    </form>


</main>


<script>

    const missed_words = $("#collapse_missed_words > div");
    /**/
    const puzzle = $("#collapse_puzzle > div");
    /**/
    const multi = $("#collapse_MultiTesting > div");

    const multi_missed = $("#collapse_MultiTesting_MissedWords > div");
    const multi_puzzle = $("#collapse_MultiTesting_Puzzle > div");
    const multi_wt = $("#collapse_MultiTesting_wrong_text > div");
    /**/
    const wrong_text = $("#collapse_wrong_text > div");
    /**/



    function MakeInstruction() {
        var curr_method;
        $("input#method").each(function () {
            if ($(this).is(":checked")) {
                curr_method = $(this).attr("method-type");
            }
        });

        var instruction;
        var multitest_instruction;
        switch (curr_method) {
            case "missed_words":
                instruction =
                    missed_words.find("input#mw_quantity").val().toString() + ";" +
                    missed_words.find("input#mw_isPrill").is(":checked").toString();
                break;
            case "puzzle":
                instruction =
                    puzzle.find("input#p_quantity").val().toString() + ";" +
                    puzzle.find("input#p_diffLenghtOfBlock").is(":checked").toString() + ";" +
                    puzzle.find("input#p_defaultBlocks").is(":checked").toString() + ";" +
                    puzzle.find("input#p_sep").val().toString();
                break;
            case "MultiTesting":
                instruction =
                    multi.find("input#mtParts_quantity").val().toString() + ";" +
                    multi.find("input#mtMisWords_quantity").val().toString();

                multitest_instruction = multi_missed.find("input#MultiTesting_mw_quantity").val().toString() + ";" +
                    multi_missed.find("input#MultiTesting_mw_isPrill").is(":checked").toString() + "|" +

                    multi_puzzle.find("input#MultiTesting_p_quantity").val().toString() + ";" +
                    multi_puzzle.find("input#MultiTesting_p_diffLenghtOfBlock").is(":checked").toString() + ";" +
                    multi_puzzle.find("input#MultiTesting_p_defaultBlocks").is(":checked").toString() + ";" +
                    multi_puzzle.find("input#MultiTesting_p_sep").val().toString() + "|" +

                    multi.find("input#mtwrong_text_quantity").val().toString() + ";"+
                multi_wt.find("input#MultiTesting_wt_quantity").val.toString() + ";"
                    + multi_wt.find("input#MultiTesting_wt_numbers").is(":checked").toString() + ";" +
                    multi_wt.find("input#MultiTesting_wt_signs").is(":checked").toString() + ";" +
                    multi_wt.find("input#MultiTesting_wt_alpha").is(":checked").toString() + ";"

               
                break;
            case "wrong_text":
                instruction =
                    wrong_text.find("input#wt_quantity").val().toString() + ";" +
                    wrong_text.find("input#wt_hideEndings").is(":checked").toString() + ";" +
                    wrong_text.find("input#wt_numbers").is(":checked").toString() + ";" +
                    wrong_text.find("input#wt_signs").is(":checked").toString() + ";" +
                    wrong_text.find("input#wt_alpha").is(":checked").toString();
                break;
        }

        var de_choice;
        $("input#de_choice").each(function () {
            if ($(this).is(":checked")) {
                de_choice = $(this).attr("de-choice");
            }
        });

        $("input#ServiceInfo").val(instruction + ";" + de_choice);
        $("input#InfoTest").val(multitest_instruction);
    };

    const sepSlider = puzzle.find("input#p_sep");
    const sepLog = puzzle.find("span#sepLog");

    function displayValue(obj, id) {
        var inputSpan = document.getElementById(id);
        inputSpan.innerHTML = obj.value;
    }


    function UpdateSepName() {
        var buf = "";
        switch (sepSlider.val()) {
            case "0": buf = "sepIndulge";
                break;
            case "1": buf = "sepByParts";
                break;
            case "2": buf = "sepBySentances";
                break;
            default: buf = "impossible";
        }
        sepLog.html(buf);
    };
</script>

<style>
    main {
        margin-top: 5%;
    }

    .input-group-text {
        border: 0px solid black;
        background-color: white;
    }

    .test-card {
        border: 2px solid black;
        border-radius: 5px;
    }

    .setting-btn {
        width: 50%;
    }

    /*.tooltip {
        width: 75%;
    }

    .miss_word:hover + .miss_word_tootlip {
        display: block;
        opacity: 1;
    }

    .puzzle:hover + .puzzle_tootlip {
        display: block;
        opacity: 1;
    }*/
    .panel-body {
        padding: 5px;
        height: 175px;
        overflow-y: scroll
    }

    .panel-body-multi {
        padding: 5px;
        height: 300px;
        overflow-y: scroll
    }

    .panel-body-multi-mini {
        height: 150px;
    }

    .panel-body, .panel-body-multi {
        border: 2px solid black;
        border-radius: 5px;
    }

    .test-card {
        height: 70px;
    }
</style>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}