@model Exam_Helper.ViewsModel.TestInfoMissedWords;
@{
    ViewData["Title"] = "View";
}

    <head>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
    </head>



    <p>
        @{   
            int j = 0;
           

            @for (int i = 0; i < Model.Teorem.Length; i++)
            {
                if (!@Model.Teorem[i].Contains("text"))
                {   
                    @Model.Teorem[i]
                }
                else
                {
                        <input asp-for="@Model.Answer[j]" size="5" class="test" />
                       
                        <input type="hidden" asp-for=@Model.Check_Answers[j] />
                       <span asp-validation-for="@Model.Answer[j]" class="text-danger"></span>
                    j++;
                }
                    
                }
        }
    </p>

    <div class="form-group">
        <input type="submit" value="Check answers" onclick="CheckAnswers()" class="btn btn-primary" />
    </div>

<script>

    function CheckAnswers() {
        var data = {};
        @for(int i = 0; i <Model.Answer.Length; i++)
        { 
          @:data["@Model.Answer[i]"] =@Model.Check_Answers[i];
         }
     

        $.ajax(
            {
                type: "Post",
                data: { answers: JSON.stringify(data) },
                dataType: "json",
                url: '@Url.Action("CheckAnswerForMissingTest")',
                success: function (msg) {
                    console.log(msg);
                }
            })

    };


</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}