@using Exam_Helper.ViewsModel
@model Exam_Helper.ViewsModel.TestParent
@{
    ViewData["Title"] = "View";
    var Temp_Model = Model as TestInfoPuzzle;
}

<main>
    <div class="main d-flex flex-column">

        @{int num_ans = 0; int num = 0; }

        @if (Temp_Model.IsSuccessed)
        {
            <div class="container droppable-elems justify-content-start">
                <div class="row row-cols-auto">
                    @foreach (var block in Temp_Model.TestStrings)
                    {
                        <div class="main-blocks" id="@("droppable" + num_ans.ToString())">
                            <p class="mt-2"></p>
                        </div>
                        num_ans++;
                    }
                </div>
            </div>

            <div class="container draggable-elems">
                <div class="row row-cols-auto ">
                    @foreach (var block in Temp_Model.TestStrings)
                    {
                        <div class="mt-auto">
                            <div class="block text-center" id="@("draggable" + @num.ToString())">
                                <p>@block</p>
                            </div>
                        </div>

                        num++;
                    }
                </div>
            </div>

            <div class="container form-group mt-3">
                <input type="submit" value="Проверить ответ" class="btn btn-primary" id="CheckAnswers" />
            </div>
        }
        else
        {
            <p>Мы не можем создать данный тест для этого вопроса.</p>
        }
        <a asp-controller="PublicLibrary" asp-action="Index" class="container">
            <input type="button" value="Вернуться в библиотеку" class="btn btn-primary" />
        </a>

        <div class="container form-group mt-3">
            @if (Temp_Model.IsSuccessed)
            {
                if (Temp_Model.isMulti)
                    @Html.ActionLink("Следующее задание", "MultiTesting", (Temp_Model.ControllerName), new { Instruction = "" }, new { @type = "button", @class = "btn btn-primary" })
                    else
                        @Html.ActionLink("Пройти еще раз", "PuzzleTest", "Tests", new { Instruction = Temp_Model.TestInstructions }, new { @type = "button", @class = "btn btn-primary" })
                    }
        </div>
    </div>
</main>




<script>

    $("#CheckAnswers").click(function CheckAnswers() {
        var ans = [];
        @if (Temp_Model.RightIndexes != null)
         @for(int i = 0; i< Temp_Model.RightIndexes.Length; i++)
        {
            @:ans.push("@(new Microsoft.AspNetCore.Html.HtmlString(Temp_Model.RightIndexes[i].ToString()))");
        }


        $("[id^=droppable]").each(function (index, elem) {
            var id_elem = $(elem).children("[id^=draggable]");
            console.log('id is ' + $(id_elem).attr("id"));
            if ($(id_elem).attr("id") === ('draggable' + ans[index])) {
                $(this).removeClass("wrong");
                $(this).addClass("right");
            }
            else {
                $(this).removeClass("right");
                $(this).addClass("wrong");
            }
        });
    });

    $(function () {

        $("[id^=draggable]").draggable({ revert: true });

        $("[id^=droppable]").droppable({
            over: function (event, ui) {
                if ($(this).children("[id^=draggable]").attr("id") == undefined)
                $(this).addClass('hover');
            },
            out: function (event, ui) {
                $(this).removeClass('hover');
                $(this).position = 'absolute';

            },
            drop: function (event, ui) {
                console.log($(this).children("[id^=draggable]"));
                if ($(this).children("[id^=draggable]").attr("id") == undefined) {

                    // измененяем размеры контейнеров (ширину и высоту )первые 2 строки - меняем контейнер в которых кидаем , последние 2 строки - меняем контейнер который переносим
                    // $(this).css('height', ui.draggable.css('height'));
                      $(this).css('width', ui.draggable.css('width'));
                      ui.draggable.css('height', $(this).css('height'));
                    //ui.draggable.css('width', $(this).css('width'));
                    let text = $(ui.draggable).children().text();
                    console.log(text);
                    $(this).children().text(text);
                    $(ui.draggable).css('visibility','hidden');
                    $(this).append(ui.draggable);
                    // $(this).css('border-width','0px');
                    $(this).removeClass('hover');
                }

            }

        });
    });



</script>

<style>
    main {
        margin-top: 5%;
    }

    .block {
        display: inline-block;
        border: 2px solid black;
        border-radius: 5px;
        padding: 15px;
        margin: 10px;
        margin-left: 0px;
    }

    .right {
        background-color: green;
    }

    .wrong {
        background-color: red;
    }

    .hover {
        border-style: double;
        border-color: black;
    }

    .droppable-elems {
        display: inline-block;
    }

    .draggable-elems {
        display: inline-block;
    }

    .main-blocks {
        width: 30%;
        height: 75px;
        float: left;
        border: 2px solid black;
        border-radius: 5px;
        margin: 10px;
        margin-left: 0px;
    }
</style>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
