@model Exam_Helper.ViewsModel.TestParent 
@{
    ViewData["Title"] = "UserStats";
}

<main class="container" style="height: 60vh; max-width: 70vh; min-width: 40vh; margin-top: 15vh; margin-bottom: 15px;">
    <form asp-action="UserStats" class="container d-flex flex-column">
        <h2>Результаты прохождения метода тестирования "Конструктор тестов"</h2>
        <div class="stats  d-flex flex-column align-content-between pt-5 pb-2">
            <input type="hidden" id="answer" name="userAnswer" />
            <input type="hidden" id="userURL" name="userURL" />
            <input type="hidden" name="userName" value="@User.Identity.Name">
            <div class="mb-4">
                <span>Исправление ошибок </span>
                <span id="Wrong_user">Процент выполнения: </span>
            </div>


            <div class="mb-4">
                <span>Воссоздание по частям</span>
                <span id="Puzzle_user">Процент выполнения:</span>
            </div>

            <div class="mb-5">
                <span>Вставка пропущенных слов </span>
                <span id="Mis_user">Процент выполнения:</span>
            </div>
            <span> При подсчете процента выполнения заданий учитываются все результаты, полученные при нажатии кнопки "Проверить ответ" </span>
            @if (Model.ControllerName.Equals("PackTest"))
            {
                <span style="color:red">*Результат прохождения для данного метода тестирования  не отображается в библиотеке пользователя </span>
            }
        </div>
        <div class="buttons">
            <a asp-controller="@Model.ReturnControllerName" asp-action="UserStats">
                <input type="submit" value="Вернуться в библиотеку" onclick="$('#userURL').val('@Model.ReturnControllerName')" class="btn btn-lib mt-2"/>
            </a>

            <a asp-controller="@Model.ControllerName" asp-action="UserStats">
                <input type="submit" value="Вернуться к выбору метода тестирования" onclick="$('#userURL').val('@Model.ControllerName')" class="btn btn-lib mt-2"/>
            </a>
        </div>

    </form>
</main>


<script>

    $(function () {

        localStorage.setItem('testfinished', 't');

        var dataMis = localStorage.getItem('userStats/MissingWords');
        var dataPuzzle = localStorage.getItem('userStats/Puzzle');
        var dataWrong = localStorage.getItem('userStats/Wrong');

        if (dataMis == null) dataMis = "0;0";
        if (dataPuzzle == null) dataPuzzle = "0;0";
        if (dataWrong == null) dataWrong = "0;0";



        OutputData('Wrong_user', dataWrong.split(';'));
        OutputData('Puzzle_user', dataPuzzle.split(';'));
        OutputData('Mis_user', dataMis.split(';'));

        $('#answer').val(dataMis + '|' + dataPuzzle + '|' + dataWrong);

    });

    function OutputData(id, data)
    {
        var temp = $('#' + id);
        if (data[1] == '0') temp.text(temp.text() + ' -');
        else temp.text(temp.text() + Math.round((parseFloat(data[0]) / parseInt(data[1]) * 100)) + '%');
    }

    $(document).ready(function () {
        setTimeout("DisableBackButton()", 0);
        window.onunload = function () { null };
    });

    function DisableBackButton() {
        window.history.forward(1);
    }


</script>

<style>
    .mb-4, .mb-5 span{
        font-size: 18px;
    }
</style>