@model Exam_Helper.ViewsModel.ClassForQuestionCreatingModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Question</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.question.Definition" class="control-label"></label>
                <input asp-for="@Model.question.Definition" class="form-control" />
                <span asp-validation-for="@Model.question.Definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.question.Title" class="control-label"></label>
                <input asp-for="@Model.question.Title" class="form-control" />
                <span asp-validation-for="@Model.question.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.question.Proof" class="control-label"></label>
                <input asp-for="@Model.question.Proof" class="form-control" />
                <span asp-validation-for="@Model.question.Proof" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.tags" class="control-label"></label>
                <ul>
                    @for (int i = 0; i < Model.tags.Count; i++)
                    {
                        <li>
                            <input type="checkbox" asp-for="@Model.tags[i].IsSelected" />
                            <label asp-for="@Model.tags[i].IsSelected"> @Model.tags[i].Name</label>
                            <input type="hidden" asp-for="@Model.tags[i].Id" />
                            <input type="hidden" asp-for="@Model.tags[i].Name" />
                        </li>
                    }
                </ul>
                <span asp-validation-for="@Model.tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
