@model Exam_Helper.ViewsModel.ClassForQuestionCreatingModel;

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>
<h4>Question</h4>


<hr color="brown" />

<div class="instruction">
    <span>Поля,помеченные (<span class="colortext" style="color:red">*</span>) ,обязательны для заполнения :</span>
</div>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="d-flex justify-content-between pt-3 pb-3">
        <span><b>Наименование вопроса<span class="colortext" style="color:red">*</span>:</b><input asp-for="@Model.question.Definition" type="text" class="form-control w-100"></span>
    </div>

    <div class="d-flex justify-content-between pt-3 pb-3">
        <span>
            <b>Формулировка вопроса<span class="colortext" style="color:red">*</span>:</b>
            <br />
            <textarea asp-for="@Model.question.Title" id="textarea" style="width:70vh;margin-top:2vh;" rows="3"></textarea>
        </span>
    </div>

    <div class="d-flex justify-content-between pt-3 pb-3">
        <span>
            <b>Доказательство:</b>
            <br />
            <textarea asp-for="@Model.question.Proof" id="textarea" style="width:120vh;margin-top:2vh;" rows="10"></textarea>
        </span>
    </div>

    <div class="form-group">
        <label asp-for="@Model.tags" class="control-label"></label>
        <ul>
            @for (int i = 0; i < Model.tags.Count; i++)
            {
                <li>
                    <input type="checkbox" asp-for="@Model.tags[i].IsSelected" />
                    <label asp-for="@Model.tags[i].IsSelected"> @Model.tags[i].Name</label>
                    <input type="hidden" asp-for="@Model.tags[i].Id" />
                    <input type="hidden" asp-for="@Model.tags[i].Name" />
                </li>
            }
        </ul>
        <span asp-validation-for="@Model.tags" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

    <button type="button" class="btn btn-light">
        <a asp-action="Index">Back to List</a>
    </button>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}