@model Exam_Helper.ViewsModel.ClassForPublicLibrary
@using Microsoft.AspNetCore.Identity
@{
    ViewData["Title"] = "Library Page";
}
@inject UserManager<User> UserManager
<head>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        -->
</head>

<main class="container" style="padding-top: 3vh;">
    <div class="container">

        <div class="justify-content text-center h1">
            <span>Моя Библиотека</span>
        </div>

        <hr color="brown" />

        <div class="container d-flex bd-highlight pt-3">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseAllQuestion" data-parent="#accordionCommon">
                Вопросы
            </button>
            <button class="btn btn-primary ml-1" type="button" data-toggle="collapse" data-target="#collapseAllPacks" data-parent="#accordionCommon">
                Паки
            </button>
            <a asp-action="QCreate">
                <button class="btn btn-primary ml-1" type="button">
                    Добавить вопрос
                </button>
            </a>
            <a asp-action="PCreate">
                <button class="btn btn-primary ml-1" type="button">
                    Добавить пак
                </button>
            </a>
        </div>
        <div class="form-group pb-3 bd-highlight ml-auto p-2">
            <span class="mr-3"> Поиск вопроса: </span>
            <form asp-action="Index">
                <input type="text" name="SearchString" class="form-control">
            </form>
        </div>
        <div class="panel-group" id="accordionCommon">
            <div class="panel">
                <div class="collapse" id="collapseAllQuestion">
                    @foreach (var item in Model.questions)
                    {
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@item.Id.ToString()" aria-expanded="false" aria-controls="collapse_@item.Id.ToString()">
                                            <span> @Html.DisplayFor(modelItem => item.Title) </span>
                                            <span><a asp-controller="PublicLibrary" asp-action="QRedirectToTest" asp-route-id="@item.Id">Tests</a></span>
                                            <span><a asp-action="QEdit" asp-route-id="@item.Id">Edit</a></span>
                                        </button>
                                        @if (UserManager.GetUserName(User) == item.Author)
                                        {
                                            <button class="btn btn-link" type="button" id="@("q" + item.Id.ToString())" onclick="ChangeQuestionPrivate(this.id)">@(item.IsPrivate ? "Опубликовать" : "Скрыть")</button>
                                        }
                                    </h5>
                                </div>

                                <div id="collapse_@item.Id.ToString()" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <span>@Html.DisplayFor(modelItem => item.Definition) </span>
                                        @foreach(var t in item.TagIds.Split(';', StringSplitOptions.RemoveEmptyEntries)) 
                                        { 
                                            <span>@Model.tags.Find(x=>x.Id==int.Parse(t)).Title</span>
                                         }
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <div class="panel">
                <div class="collapse" id="collapseAllPacks">
                    @foreach (var item in Model.packs)
                    {
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@item.Id.ToString()" aria-expanded="false" aria-controls="collapse_@item.Id.ToString()">
                                            <span> @Html.DisplayFor(modelItem => item.Name) </span>
                                        </button>
                                        @if (UserManager.GetUserName(User) == item.Author)
                                        {
                                            <button class="btn btn-link" type="button" id="@("p" + item.Id.ToString())" onclick="ChangePackPrivate(this.id)">@(item.IsPrivate ? "Опубликовать" : "Скрыть")</button>
                                        }
                                    </h5>
                                </div>

                                <div id="collapse_@item.Id.ToString()" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <div class="card-body">
                                        @foreach (var quesId in item.QuestionSet.Split(";"))
                                        {
                                            <div class="d-flex justify-content-between pt-3 pb-3">
                                                @Html.DisplayFor(model => model.questions.Find(x => x.Id.ToString() == quesId).Title)
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
        </div>
    </div>
    <!--
    <button data-toggle="collapse" data-parent="#accordion2" data-target="#collapse1">
        Collapsible Group 1
    </button>

    <button data-toggle="collapse" data-parent="#accordion2" data-target="#collapse2">
        Collapsible Group 2
    </button>

    <button data-toggle="collapse" data-parent="#accordion2" data-target="#collapse3">
        Collapsible Group 3
    </button>

    <div class="panel-group" id="accordion2">

        <div class="panel">
            <div id="collapse1" class="collapse">
                1111111111111111111111111111111111
            </div>
        </div>

        <div class="panel">
            <div id="collapse2" class="collapse">
                222222222222222222222222222222222222222222222222
            </div>
        </div>

        <div class="panel">
            <div id="collapse3" class="collapse">
                333333333333333333333333333333333333333333333333
            </div>
        </div>

    </div>
    -->

</main>

<script>
    function ChangeQuestionPrivate(id) {
        var a = document.getElementById(id);

        var lastText;
        if (a.innerHTML === "Опубликовать" || a.innerHTML === "Скрыто") lastText = "Опубликован";
        if (a.innerHTML === "Скрыть" || a.innerHTML === "Опубликован") lastText = "Скрыто";

        a.innerHTML = "Пожалуйста, подождите...";

        $.ajax(
            {
                type: "Post",
                data: { ques_id: id },
                url: '@Url.Action("ChangeQuestionPrivate", "UserLibrary")',
                success: function (msg) {
                    a.innerHTML = lastText;
                      },
                error: function (msg) {
                          alert('sory we fucked everithing up');
                      }
            })

        return false;
    };

    function ChangePackPrivate(id) {
        var a = document.getElementById(id);

        var lastText;
        if (a.innerHTML === "Опубликовать" || a.innerHTML === "Скрыто") lastText = "Опубликован";
        if (a.innerHTML === "Скрыть" || a.innerHTML === "Опубликован") lastText = "Скрыто";

        a.innerHTML = "Пожалуйста, подождите...";

        $.ajax(
            {
                type: "Post",
                data: { pack_id: id },
                url: '@Url.Action("ChangePackPrivate", "UserLibrary")',
                success: function (msg) {
                    a.innerHTML = lastText;
                      },
                error: function (msg) {
                    a.innerHTML = "Ошибка.";
                          alert('Something went wrong');
                      }
            })

        return false;
    };
</script>