@model Exam_Helper.ViewsModel.ClassForUserLibrary
@using Microsoft.AspNetCore.Identity
@using System.Linq;

@{
    ViewData["Title"] = "Library Page";
}
@inject UserManager<User> UserManager
<head>
    <!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        -->
</head>

<main class="container" style="padding-top: 3vh;">
    <div class="container">

        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>

        <div class="justify-content text-center h1">
            <span>Моя Библиотека</span>
        </div>

        <hr color="brown" />

        <div class="container d-flex bd-highlight pt-3" style="padding-bottom:1rem;">
            <button class="btn btn-primary" type="button" id="button_Que" data-toggle="collapse" data-target="#collapseAllQuestion" aria-expanded="true" aria-controls="collapseAllQuestion">
                Вопросы
            </button>
            <button class="btn btn-primary ml-1" type="button" id="button_Pack" data-toggle="collapse" data-target="#collapseAllPacks" aria-expanded="true" aria-controls="collapseAllPacks">
                Паки
            </button>
            <a asp-action="QCreate">
                <button class="btn btn-primary ml-1" type="button" style="cursor:cell;">
                    Добавить вопрос
                </button>
            </a>
            <a asp-action="PCreate">
                <button class="btn btn-primary ml-1" type="button" style="cursor:cell;">
                    Добавить пак
                </button>
            </a>
        </div>
        <div class="form-group pb-3 bd-highlight ml-auto p-2">
            <form asp-action="Index">
                <input type="text" name="SearchString" class="form-control" placeholder="Поиск.." id="Search">
            </form>
        </div>
        <div class="panel-group" id="accordionCommon">
            <div class="collapse show" id="collapseAllQuestion">
                @foreach (var item in Model.questions.Where(x => x.IsSearched && x.IsUser))
                {
                    <div class="accordion" id="accordionExample" data-fordisabling="dq@(item.question.Id)">
                        <div class="card border border-info mt-2 shadow mb-5 bg-white rounded">
                            <div class="card-header bg-white d-flex justify-content-between" id="headingOne">
                                <button class="btn titleText" type="button" data-toggle="collapse" data-target="#q_collapse_@item.question.Id.ToString()" aria-expanded="false" aria-controls="q_collapse_@item.question.Id.ToString()">
                                    <span class="h4" id="qTitle">@item.question.Title </span>
                                </button>
                                <div class="btn-group w-25 actionButton">
                                    <button type="button" class="btn collapse btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="q_collapse_@item.question.Id.ToString()" data-parent="#accordionExample">
                                        Действия
                                    </button>
                                    <div class="dropdown-menu mt-3 actionButton">
                                        <a class="dropdown-item" asp-action="QRedirectToTest" asp-route-id="@item.question.Id">Тестирование</a>
                                        <a class="dropdown-item" asp-action="QEdit" asp-route-id="@item.question.Id">Редактирование</a>
                                        <a class="dropdown-item compItem" asp-action="QDetails" asp-route-id="@item.question.Id">Подробности</a>
                                        <a class="dropdown-item compItem" asp-action="QDelete" asp-route-id="@item.question.Id">Удаление</a>
                                        @if (UserManager.GetUserName(User) == item.question.Author)
                                        {
                                            <a class="dropdown-item" id="@("q" + item.question.Id.ToString())" onclick="ChangeQuestionPrivate(this.id)" style="cursor:pointer;">@(item.question.IsPrivate ? "Опубликовать" : "Скрыть")</a>
                                        }
                                    </div>
                                </div>
                            </div>

                            <div id="q_collapse_@item.question.Id.ToString()" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body  d-flex flex-column">
                                    @foreach (var t in item.question.TagIds.Split(';'))
                                    {
                                        if (!string.IsNullOrEmpty(t))
                                        {
                                            <div class="alert alert-info text-center tags mt-3">
                                                <span id="qTags">@Html.DisplayFor(modelItem => modelItem.tags.Find(x => x.Id == int.Parse(t)).Title) </span>
                                            </div>
                                        }
                                    }
                                    <span class="h5 mt- mb-5" style="white-space: pre-wrap; margin-bottom: 0rem!important;" id="qDefinition">@item.question.Definition</span>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>

            <div class="collapse" id="collapseAllPacks">
                @foreach (var item in Model.packs)
                {
                    <div class="accordion" id="accordionExample" data-fordisabling="dp@(item.Id)">
                        <div class="card border border-info mt-2 shadow mb-5 bg-white rounded">
                            <div class="card-header bg-white d-flex justify-content-between" id="headingOne">
                                <button class="btn" type="button" data-toggle="collapse" data-target="#p_collapse_@item.Id.ToString()" aria-expanded="false" aria-controls="p_collapse_@item.Id.ToString()">
                                    <span class="h4" id="pName"> @Html.DisplayFor(modelItem => item.Name) </span>
                                </button>
                                <div class="btn-group  w-25">
                                    <button type="button" class="btn collapse btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="p_collapse_@item.Id.ToString()" data-parent="#accordionExample">
                                        Действия
                                    </button>
                                    <div class="dropdown-menu">
                                        <!--
        <a class="dropdown-item" asp-action="PRedirectToTest" asp-route-id="@item.Id">Tests</a>
    -->
                                        <a class="dropdown-item" asp-controller="Home" asp-action="PackTests">Тестирование</a>
                                        <a class="dropdown-item" asp-action="PEdit" asp-route-id="@item.Id">Редактирование</a>
                                        <a class="dropdown-item compItem" asp-action="PDetails" asp-route-id="@item.Id">Подробности</a>
                                        <a class="dropdown-item compItem" asp-action="PDelete" asp-route-id="@item.Id">Удаление</a>
                                        @if (UserManager.GetUserName(User) == item.Author)
                                        {
                                            <button class="btn btn-link" type="button" id="@("p" + item.Id.ToString())" onclick="ChangePackPrivate(this.id)" style="cursor:pointer;">@(item.IsPrivate ? "Опубликовать" : "Скрыть")</button>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div id="p_collapse_@item.Id.ToString()" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body  d-flex flex-column">
                                    @foreach (var t in item.TagsId.Split(';'))
                                    {
                                        if (!string.IsNullOrEmpty(t))
                                        {
                                            <div class="alert alert-info w-25 text-center">
                                                <span id="pTags">@Html.DisplayFor(modelItem => modelItem.tags.Find(x => x.Id == int.Parse(t)).Title) </span>
                                            </div>
                                        }
                                    }
                                    @foreach (var quesId in item.QuestionSet.Split(";"))
                                    {
                                        <div class="d-flex justify-content-between pt-3 pb-3">
                                            <span id="pqList">@Html.DisplayFor(model => model.questions.Select(x => x.question).FirstOrDefault(x => x.Id.ToString() == quesId).Title)</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>

</main>

<script>

    $(document).ready(function () {
        $("#Search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("div#accordionExample").filter(function () {
                $(this).toggle(
                    $(this).find("span#qTitle").text().toLowerCase().indexOf(value) > -1 || 
                    $(this).find("span#qTags").text().toLowerCase().indexOf(value) > -1 ||
                    $(this).find("span#qDefinition").text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    /*$(document).ready(function () {
        $("#Search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("div#accordionExample").filter(function () {
                $(this).toggle(
                    $(this).find("span#pName").text().toLowerCase().indexOf(value) > -1 ||
                    $(this).find("span#pTags").text().toLowerCase().indexOf(value) > -1 ||
                    $(this).find("span#pqList").text().toLowerCase().indexOf(value) > -1)
            });
        });
    });*/

    $(document).ready(function () {
        if (screen.width < 768) {
            $(document).ready(function () {
                $('.card-header').addClass('flex-column')
                $('.card-header').addClass('mt-2')
            });
        }
    });

    

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    });

    $("#button_Que").click(function () {
        $('#collapseAllPacks').removeClass('show');
    });
    $("#button_Pack").click(function () {
        $('#collapseAllQuestion').removeClass('show');
    });

    function ChangeQuestionPrivate(id) {
        var a = document.getElementById(id);

        var lastText;
        if (a.innerHTML === "Опубликовать" || a.innerHTML === "Скрыто") lastText = "Опубликован";
        if (a.innerHTML === "Скрыть" || a.innerHTML === "Опубликован") lastText = "Скрыто";

        a.innerHTML = "Пожалуйста, подождите...";

        $.ajax(
            {
                type: "Post",
                data: { ques_id: id },
                url: '@Url.Action("ChangeQuestionPrivate", "UserLibrary")',
                success: function (msg) {
                    a.innerHTML = lastText;
                      },
                error: function (msg) {
                    alert('Something went wrong');
                      }
            })

        return false;
    };

    function ChangePackPrivate(id) {
        var a = document.getElementById(id);

        var lastText;
        if (a.innerHTML === "Опубликовать" || a.innerHTML === "Скрыто") lastText = "Опубликован";
        if (a.innerHTML === "Скрыть" || a.innerHTML === "Опубликован") lastText = "Скрыто";

        a.innerHTML = "Пожалуйста, подождите...";

        $.ajax(
            {
                type: "Post",
                data: { pack_id: id },
                url: '@Url.Action("ChangePackPrivate", "UserLibrary")',
                success: function (msg) {
                    a.innerHTML = lastText;
                      },
                error: function (msg) {
                    a.innerHTML = "Ошибка.";
                          alert('Something went wrong');
                      }
            })

        return false;
    };

</script>
