@model Exam_Helper.ViewsModel.ClassForQuestionCreatingModel;

@{
    ViewData["Title"] = "Create";
}
<head>
    <script src="~/js/tag_adding.js"></script>
</head>

<main class="container d-flex flex-column align-items-center">
    <h1>Создание</h1>
    <h4>Вопрос</h4>
    <hr color="brown" />
    <div class="instruction">
        <span>Поля, помеченные (<span class="colortext" style="color:red">*</span>), обязательны для заполнения:</span>
    </div>

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <form asp-action="QCreate">

        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Title)<span class="colortext" style="color:red">*</span>:</b>
            <br />
            <input asp-for="@Model.Title" type="text" class="form-control input-name" style="width: 800px;">
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Definition)<span class="colortext" style="color:red">*</span>:</b>
            <br />
            <textarea asp-for="@Model.Definition" id="textarea" rows="3" class="form-control"></textarea>
            <br />
            <span asp-validation-for="@Model.Definition" class="text-danger"></span>
        </div>

        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.Proof):</b>
            <br />
            <textarea asp-for="@Model.Proof" id="textarea" rows="5" class="form-control"></textarea>
        </div>

        <div class="form-group">
            <b>@Html.DisplayNameFor(model => model.tags):</b>
            <br />
            <div class="d-flex flex-column">
                <div>
                    <input class="form-control w-25" id="tInput" type="text" placeholder="Выберите или создайте" autocomplete="off">
                    <div class="list-group" style="max-height: 288px; overflow-y: scroll; display: none;" id="tList"></div>
                </div>
                <div class="d-flex">
                    <div id="stList" class="d-flex flex-wrap ml-3 mt-2">
                    </div>
                    <div class="mt-2">
                        <a style="width: 30px; height: 30px; align-items: center; margin: 5px; padding: 0; display: none;" class="btn bg-light deleteButton">&times;</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-success">Создать</button>
            <a asp-action="Index">
                <button type="button" class="btn btn-secondary">Обратно к списку</button>
            </a>
        </div>

    </form>
</main>

<script>
    $(document).ready(function () {
        SetInput("input#tInput");
        SetTagListForChoice("div#tList");
        SetTagListForSelected("div#stList");

        var tags = [];
        @foreach(var tagName in Model.tags.LoadedTags)
        {
            @:tags.push("@(new Microsoft.AspNetCore.Html.HtmlString(tagName))");
        }
        LoadTags(tags);
        Tune();

        $(".input-name").keypress(function(e){
             if(e.keyCode == 13) return false;
        });
        $(".deleteButton").click(function (){
            RemoveLastSelectedTag()
        })
    });


</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    textarea {
        width: 300px;
    }

    .badge {
        display: flex;
        align-items: center;
        height: 30px;
        font-size: 15px;
        background-color: #778899;
        margin: 5px;
    }
</style>