@model Exam_Helper.ViewsModel.ClassForQuestionCreatingModel;

@{
    ViewData["Title"] = "Create";
}
<head>
    <script src="~/js/tag_adding.js"></script>
</head>

<main class="container p-2">
    <h1>Создание</h1>
    <h4>Вопрос</h4>
    
    <hr color="brown" />
    
    <div class="instruction">
        <span>Поля, помеченные (<span class="colortext" style="color:red">*</span>), обязательны для заполнения:</span>
    </div>
    <form asp-action="QCreate">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="d-flex justify-content-between pt-3 pb-3">
            <span>
                <b>@Html.DisplayNameFor(model => model.Title)<span class="colortext" style="color:red">*</span>:</b>
                <br />
                <input asp-for="@Model.Title" type="text" class="form-control w-100">
                <span asp-validation-for="@Model.Title" class="text-danger"></span>
            </span>
        </div>

        <div class="d-flex justify-content-between pt-3 pb-3">
            <span>
                <b>@Html.DisplayNameFor(model => model.Definition)<span class="colortext" style="color:red">*</span>:</b>
                <br />
                <textarea asp-for="@Model.Definition" id="textarea" style="width:750px;min-width:100px;margin-top:2vh;" rows="3"></textarea>
                <br />
                <span asp-validation-for="@Model.Definition" class="text-danger"></span>
            </span>
        </div>

        <div class="d-flex justify-content-between pt-3 pb-3">
            <span>
                <b>@Html.DisplayNameFor(model => model.Proof):</b>
                <br />
                <textarea asp-for="@Model.Proof" id="textarea" style="width:750px;min-width:100px;margin-top:2vh;" rows="10"></textarea>
            </span>
        </div>

        <div class="form-group">
            <label asp-for="@Model.tags" class="control-label"></label>
            <div style="display: flex;">
                <div>
                    <input class="form-control" id="tInput" type="text" placeholder="Выберите или создайте" autocomplete="off">
                    <div class="list-group" style="max-height: 288px; overflow-y: scroll; display: none;" id="tList"></div>
                </div>

                <div id="stList" style="display: flex;">

                </div>
                <span onclick="RemoveLastSelectedTag()">&times;</span>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Создать" class="btn btn-success"/>
            <a asp-action="Index">
                <button type="button" class="btn btn-secondary">Обратно к списку</button>
            </a>
        </div>

    </form>
</main>


<script>
    $(document).ready(function () {
        SetInput("input#tInput");
        SetTagListForChoice("div#tList");
        SetTagListForSelected("div#stList");
        var tags = [];
        @foreach(var tagName in Model.tags.LoadedTags)
        {
            @:tags.push("@(new Microsoft.AspNetCore.Html.HtmlString(tagName))");
        }
        LoadTags(tags);
        Tune();
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}