@model Exam_Helper.Question

<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" style="color:darkred">Подробности вопроса</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>

    <hr />
    <div class="modal-body">
        <dl class="row">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Title):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Definition):
            </dt>
            <dd class="col-sm-10">
                <span style="white-space: pre-wrap">@Model.Definition</span>
            </dd>
            @if (!string.IsNullOrEmpty(Model.Proof))
            {
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.Proof):
                </dt>
                <dd class="col-sm-10">
                    <span style="white-space: pre-wrap;">@Model.Proof</span>
                </dd>
            }
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Author):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.CreationDate):
            </dt>
            <dd class="col-sm-10">
                @Model.CreationDate.ToString("dd.MM.yyyy")
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.UpdateDate):
            </dt>
            <dd class="col-sm-10">
                @Model.UpdateDate.ToString("dd.MM.yyyy")
            </dd>
            @if (!string.IsNullOrEmpty(Model.TagIds))
            {
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.TagIds):
                </dt>
                <dd class="col-sm-10">
                    <span style="white-space: pre-wrap;">@Model.TagIds</span>
                </dd>
            }
        </dl>
    </div>

    <div class="modal-footer">
        <div class="form-group flex-row">
            <div class="d-inline-flex">
                <a type="button" class="btn btn-light" asp-action="QRedirectToTest" asp-route-id="@Model.Id">Пройти тестирование</a>
            </div>
            <div class="d-inline-flex">
                <button type="button" class="btn btn-light" data-dismiss="modal">Вернуться с библиотеку</button>
            </div>

        </div>
    </div>

</div>