@model List<Exam_Helper.ViewsModel.QuestionForPackCreatingModel>

@{
    ViewData["Title"] = "Select Questions";
}

    <form asp-action="Create">
        <ul>
            
                @for (int i = 0; i < Model.Count; i++)
                {
                <li>
                    <input type="checkbox" asp-for="@Model[i].IsSelected" />
                    <label asp-for="@Model[i].IsSelected"> @Model[i].Name</label>
                    <input type="hidden" asp-for="@Model[i].Id" />
                    <input type="hidden" asp-for="@Model[i].Name" />

                </li>
                }
                
                
        </ul>


        <input type="submit" value="Create" class="btn btn-primary" />

    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}