@model Exam_Helper.ViewsModel.ClassForUserLibrary
@inject SignInManager<User> _signInManager;
@{
    ViewData["Title"] = "Public Library";
}


<main class="container" style="padding-top: 3vh;">
    <div class="container">
        <div id="Alerts" style="position: absolute; right: 0; top: 0;"></div>
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>

        <div class="justify-content text-center h1">
            <span>Библиотека</span>
        </div>

        <hr color="brown" />

        <div class="container bd-highlight pt-3 button-group row justify-content-between" style="padding-bottom:1rem;">
            <button class="btn-primary btn-lg col col-sm-5" type="button" id="button_Que" data-toggle="collapse" data-target="#collapseAllQuestion" aria-expanded="true" aria-controls="collapseAllQuestion">
                Вопросы
            </button>
            <p class="tooltip que_tootlip">Список вопросов, а также инструменты для их изучения</p>

            <button class="btn-primary btn-lg col col-sm-5" type="button" id="button_Pack" data-toggle="collapse" data-target="#collapseAllPacks" aria-expanded="true" aria-controls="collapseAllPacks">
                Паки
            </button>
            <p class="tooltip pack_tootlip">Набор вопросов по темам</p>
        </div>
        <div class="form-group pb-3 bd-highlight ml-auto p-2">
            <input type="text" name="SearchString" class="form-control" placeholder="Поиск.." id="Search">
        </div>
        @{
            if (_signInManager.IsSignedIn(User))
            {
                <div class="container">
                    <div class="row justify-content-between">
                        <button class="btn-primary btn-lg col col-sm-3" type="button" onclick="EngageSelected('add')" id="AddSelectedButton">
                            <p>Добавить выделенное</p>
                        </button>

                        <p class="tooltip add_tootlip">Добавление необходимых вопросов в вашу личную библиотеку</p>
                        <button class="btn-primary btn-lg col col-sm-3" type="button" onclick="CheckAll(true)">
                            <p>Выбрать всё</p>
                        </button>

                        <button class="btn-primary btn-lg col col-sm-3" type="button" onclick="CheckAll(false)">
                            <p>Выбрать ничего</p>
                        </button>
                    </div>
                </div>
            }
        }
        <div class="collapse show" id="collapseAllQuestion">
            @foreach (var item in Model.questions.Where(x => x.question.IsPrivate == false && x.IsSearched).Select(x => x.question))
            {
                <div class="accordion" id="accordionExample" data-fordisabling="dq@(item.Id)" data-id="@(item.Id)" data-type="question">
                    <div class="container card border border-info mt-2 shadow mb-4 bg-white rounded">
                        <div class="container card-header bg-white" id="headingOne">
                            <div class="row align-items-center">
                                <div class="col col-sm col-md-8">
                                    <div class="row row-cols-auto align-items-center">
                                        
                                        @{
                                            if (_signInManager.IsSignedIn(User))
                                            {
                                                <input class="ml-2" type="checkbox" id="qSelect" />
                                            }
                                        }
                                        <button class="btn text-center titleText" type="button" data-toggle="collapse" data-target="#q_collapse_@item.Id.ToString()" aria-expanded="false" aria-controls="q_collapse_@item.Id.ToString()">
                                            <p class="h4" id="qTitle">@item.Title </p>
                                        </button>
                                    </div>
                                </div>
                                <div class="btn-group justify-content-center align-items-center actionButton col col-sm col-md-4">
                                    <button type="button" class="btn w-25 collapse btn-info dropdown-toggle action-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="q_collapse_@item.Id.ToString()" data-parent="#accordionExample">
                                        Действия
                                    </button>
                                    <div class="dropdown-menu actionDrop">
                                        <a class="dropdown-item" asp-action="QRedirectToTest" asp-route-id="@item.Id">Тестирование</a>
                                        <a class="dropdown-item compItem" asp-action="QDetails" asp-route-id="@item.Id">Подробности</a>
                                        @{
                                            if (_signInManager.IsSignedIn(User))
                                            {
                                                <a class="dropdown-item" id="@("q" + item.Id.ToString())" onclick="AddQuestion(this.id)" style="cursor: pointer;">Добавить</a>
                                            }
                                        }
                                    </div>                                                                        
                                </div>
                            </div>
                        </div>

                        <div id="q_collapse_@item.Id.ToString()" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body  d-flex flex-column">
                                @foreach (var t in item.TagIds.Split(';'))
                                {
                                    if (!string.IsNullOrEmpty(t))
                                    {
                                        <div class="alert alert-info text-center tags mt-3">
                                            <span class="titleText" id="qTags">@Html.DisplayFor(modelItem => modelItem.tags.Find(x => x.Id == int.Parse(t)).Title) </span>
                                        </div>
                                    }
                                }
                                <span class="h5 mt-2 mb-3" style="white-space: pre-wrap; margin-bottom: 0rem!important;" id="qDefinition">@item.Definition</span>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

        <div class="collapse" id="collapseAllPacks">
            @foreach (var item in Model.packs)
            {
                <div class="accordion" id="accordionExample" data-fordisabling="dp@(item.Id)" data-id="@(item.Id)" data-type="pack">
                    <div class="card border border-info mt-2 shadow mb-4 bg-white rounded">
                        <div class="card-header bg-white d-flex justify-content-between" id="headingOne">
                            <div class="d-flex justify-content-start">
                                @{
                                    if (_signInManager.IsSignedIn(User))
                                    {
                                        <input type="checkbox" style="margin:auto;" id="pSelect" />
                                    }
                                }
                                <button class="btn" type="button" data-toggle="collapse" data-target="#p_collapse_@item.Id.ToString()" aria-expanded="false" aria-controls="p_collapse_@item.Id.ToString()">
                                    <span class="h4 titleText" id="pName"> @Html.DisplayFor(modelItem => item.Name) </span>
                                </button>
                            </div>
                            <div class="btn-group  w-25">
                                <button type="button" class="btn collapse btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="p_collapse_@item.Id.ToString()" data-parent="#accordionExample">
                                    Действия
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="PRedirectToTest" asp-route-id="@item.Id">Тестирование</a>
                                    <a class="dropdown-item compItem" asp-action="PDetails" asp-route-id="@item.Id">Подробности</a>
                                    @{
                                        if (_signInManager.IsSignedIn(User))
                                        {
                                            <a class="dropdown-item " id="@("p" + item.Id.ToString())" onclick="AddPack(this.id)" style="cursor: pointer;">Добавить</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="p_collapse_@item.Id.ToString()" class="collapse p-5" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body d-flex flex-column">
                                @foreach (var t in item.TagsId.Split(';'))
                                {
                                    if (!string.IsNullOrEmpty(t))
                                    {
                                        <div class="alert alert-info w-25 text-center">
                                            <span id="pTags">@Html.DisplayFor(modelItem => modelItem.tags.Find(x => x.Id == int.Parse(t)).Title) </span>
                                        </div>
                                    }
                                }
                                @foreach (var quesId in item.QuestionSet.Split(";"))
                                {
                                    <div class="d-flex justify-content-between pt-3 pb-3">
                                        <a class="compItem" asp-action="QDetails" asp-route-id="@quesId" id="pqList"> @Model.questions.FirstOrDefault(x => x.question.Id.ToString() == quesId).question.Title</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</main>

<script>
    var Page = { None: 0, QuestionPage: 1, PackPage: 2 };

    var SearchString = $("#Search");
    var SelectedPage = Page.QuestionPage;

    var lastChecked = null;

    var alerts = document.getElementsByClassName("closebtn");

    function CreateAlert(str, type) {
        $('#Alerts').append('<div class="alert ' + type + '"><span class="closebtn">×</span><strong>' + str + '</strong></div>');
        alerts = document.getElementsByClassName("closebtn");
        console.log(alerts);
        alerts[alerts.length - 1].onclick = function () {
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function () { div.style.display = "none"; }, 600);
        }
    };

    $('input#qSelect').on('click', function (e) {
        var $checkboxes = $('input#qSelect');
        if (!lastChecked) {
            lastChecked = this;
        }

        if (e.shiftKey) {
            var start = $checkboxes.index(this);
            var end = $checkboxes.index(lastChecked);
            $checkboxes.slice(Math.min(start, end), Math.max(start, end) + 1).prop("checked", lastChecked.checked);
        }
        lastChecked = this;
    });

    $('input#pSelect').on('click', function (e) {
        var $checkboxes = $('input#pSelect');
        if (!lastChecked) {
            lastChecked = this;
        }

        if (e.shiftKey) {
            var start = $checkboxes.index(this);
            var end = $checkboxes.index(lastChecked);
            $checkboxes.slice(Math.min(start, end), Math.max(start, end) + 1).prop("checked", lastChecked.checked);
        }
        lastChecked = this;
    });

    function CheckAll(flag) {
        switch (SelectedPage) {
            case Page.QuestionPage:
                $("input#qSelect").prop("checked", flag);
                break;
            case Page.PackPage:
                $("input#pSelect").prop("checked", flag);
                break;
        }
    };

    $(document).ready(function () {
        $("#Search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("div[data-fordisabling*='dq']").filter(function () {
                $(this).toggle(
                    $(this).find("span#qTitle").text().toLowerCase().indexOf(value) > -1 ||
                    $(this).find("span#qTags").text().toLowerCase().indexOf(value) > -1 ||
                    $(this).find("span#qDefinition").text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(document).ready(function () {
        $("#Search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("div[data-fordisabling*='dp']").filter(function () {
                $(this).toggle(
                    $(this).find("span#pName").text().toLowerCase().indexOf(value) > -1 ||
                    $(this).find("span#pTags").text().toLowerCase().indexOf(value) > -1 ||
                    $(this).find("span#pqList").text().toLowerCase().indexOf(value) > -1)
            });
        });
    });

    $(function () {
        $.ajaxSetup({ cache: false });
        $(".compItem").click(function (e) {

            e.preventDefault();
            $.get(this.href, function (data) {
                $('#dialogContent').html(data);
                $('#modDialog').modal('show');
            });
        });
    });

    function EngageSelected(arg) {

        var buf = [];

        if (SelectedPage == Page.None) {
            CreateAlert("Ни одна из вкладок не открыта.", "warning");
        }
        else {

            if (SelectedPage == Page.QuestionPage) {
                $("input[type='checkbox'][id='qSelect']").each(function () {
                    var chBox = $(this);
                    if (chBox.is(':checked')) buf.push(chBox.closest("div.accordion#accordionExample").data('id'));
                });
            }

            if (SelectedPage == Page.PackPage) {
                $("input[type='checkbox'][id='pSelect']").each(function () {
                    var chBox = $(this);
                    if (chBox.is(':checked')) buf.push(chBox.closest("div.accordion#accordionExample").data('id'));
                });
            }

            if (buf.length == 0) {
                if (SelectedPage == Page.QuestionPage) CreateAlert("Ни один вопрос не выбран.", "warning");
                if (SelectedPage == Page.PackPage) CreateAlert("Ни один пак не выбран.", "warning");
            }
            else {

                if (arg == "add") {
                    __url = (SelectedPage == Page.QuestionPage ? '@Url.Action("QAddSelected", "PublicLibrary")' : '@Url.Action("PAddSelected", "PublicLibrary")');
                    __data = { ids: buf };
                }

                $.ajax(
                {
                    type: "Post",
                    url: __url,
                    data: __data,
                    success: function (data) {
                        $('#dialogContent').html(data);
                        $('#modDialog').modal('show');
                        },
                    error: function (data) {
                        CreateAlert("Что-то пошло не так", "");
                        }
                })
            }
        }
    }

    $("#button_Que").click(function () {
        $('#collapseAllPacks').removeClass('show');
        if (SelectedPage != Page.QuestionPage) SelectedPage = Page.QuestionPage;
        else SelectedPage = Page.None;
        lastChecked = null;
    });
    $("#button_Pack").click(function () {
        $('#collapseAllQuestion').removeClass('show');
        if (SelectedPage != Page.PackPage) SelectedPage = Page.PackPage;
        else SelectedPage = Page.None;
        lastChecked = null;
    });

    function AddQuestion(id) {
        var a = document.getElementById(id);

        if (a.innerHTML != "Добавить") {
            //alert("Error:223");
            return false;
        }
         a.innerHTML = "Пожалуйста, подождите, идёт процесс добавления...";
        $.ajax(
            {
                type: "Post",
                data: { ques_id: id },
                url: '@Url.Action("AddQuestionToMyLib", "PublicLibrary")',
                success: function (msg) {
                          a.innerHTML = "Добавлено!";
                      },
                error: function (msg) {
                    alert("Error:224");
                      }
                  })

        return false;
    };

    function AddPack(id) {

        var a = document.getElementById(id);

        //if (a.innerHTML != "Добавить") {
        //    //alert("Error:225");
        //    return false;
        //}

             a.innerHTML = "Пожалуйста, подождите, идёт процесс добавления...";
             $.ajax(
                 {
                     type: "POST",
                     data: { pack_id: id },
                     url: '@Url.Action("AddPackToMyLib", "PublicLibrary")',
                     success: function (msg) {
                         a.innerHTML = "Добавлено!";
                     },
                     error: function (msg) {
                         alert("Error:226");
                     }
                 })



             return false;
    };


</script>

<style>
    .btn-lg {
        width: 300px;
        margin-left: 0px;
        margin-top: 10px;
        font-weight: 400;
        font-size: 20px;
        border-radius: 10px;
    }
    .action-button {
        width: 300px;
        height: 50px;
        font-weight: 400;
        font-size: 20px;
        border-radius: 10px;
    }


/*    #button_Que:hover + .que_tootlip {
        display: block;
        opacity: 1;
    }

    #button_Pack:hover + .pack_tootlip {
        display: block;
        opacity: 1;
    }

    #AddSelectedButton:hover + .add_tootlip {
        display: block;
        opacity: 1;
    }
    .tooltip {
        width: 15%;
        margin-top: 10px;
    }*/

    .card-body {
        margin:10px;
    }
    .alert {
        padding: 20px;
        background-color: #f44336;
        color: white;
        opacity: 1;
        transition: opacity 0.6s;
        margin-bottom: 15px;
    }

    .alert.success {
        background-color: #4CAF50;
    }

    .alert.info {
        background-color: #2196F3;
    }

    .alert.warning {
        background-color: #ff9800;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
    #qSelect {
        height:20px;
        width:20px;
    }
</style>
