@model Exam_Helper.ViewsModel.ClassForUserLibrary
@inject SignInManager<User> _signInManager;
@{
    ViewData["Title"] = "Public Library";
}

<main class="container">
    <div class="container">

        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>

        <div class="justify-content text-center h1">
            <span>Библиотека</span>
        </div>

        <hr color="brown" />

        <div class="container d-flex bd-highlight pt-3">
            <button class="btn btn-primary" type="button" id="button_Que" data-toggle="collapse" data-target="#collapseAllQuestion" aria-expanded="true" aria-controls="collapseAllQuestion">
                Вопросы
            </button>
            <button class="btn btn-primary ml-1" type="button" id="button_Pack" data-toggle="collapse" data-target="#collapseAllPacks" aria-expanded="true" aria-controls="collapseAllPacks">
                Паки
            </button>
        </div>
        <div class="form-group pb-3 bd-highlight ml-auto p-2">
            <span class="mr-3"> Поиск: </span>
            <form asp-action="Index">
                <input type="text" name="SearchString" class="form-control">
            </form>
        </div>
        <div class="collapse show" id="collapseAllQuestion">
            @foreach (var item in Model.questions.Where(x=>x.question.IsPrivate==false && x.IsSearched).Select(x=>x.question))
            {
                <div class="accordion" id="accordionExample">
                    <div class="card border border-info mt-2 shadow mb-5 bg-white rounded">
                        <div class="card-header bg-white d-flex justify-content-between" id="headingOne">
                            <button class="btn titleText" type="button" data-toggle="collapse" data-target="#q_collapse_@item.Id.ToString()" aria-expanded="false" aria-controls="q_collapse_@item.Id.ToString()">
                                <span class="h4">@item.Title </span>
                            </button>
                            <div class="btn-group  w-25 ml-3 actionButton">
                                <button type="button" class="btn collapse btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="q_collapse_@item.Id.ToString()" data-parent="#accordionExample">
                                    Action
                                </button>
                                <div class="dropdown-menu actionDrop">
                                    <a class="dropdown-item" asp-action="QRedirectToTest" asp-route-id="@item.Id">Тестирование</a>
                                    <a class="dropdown-item compItem" asp-action="QDetails" asp-route-id="@item.Id">Подробности</a>
                                    @{
                                        if (_signInManager.IsSignedIn(User))
                                        {
                                            <a class="dropdown-item" id="@("q" + item.Id.ToString())" onclick="AddQuestion(this.id)">Добавить</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>

                        <div id="q_collapse_@item.Id.ToString()" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body  d-flex flex-column">
                                <div class="alert alert-info text-center tags mt-3">
                                    @foreach (var t in item.TagIds.Split(';'))
                                    {
                                        if (!string.IsNullOrEmpty(t))
                                        {
                                            <span class="titleText">@Html.DisplayFor(modelItem => modelItem.tags.Find(x => x.Id == int.Parse(t)).Title) </span>
                                        }
                                    }
                                </div>
                                <span class="h5 mt-2 mb-3" style="white-space: pre-wrap">@item.Definition</span>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>

        <div class="collapse" id="collapseAllPacks">
            @foreach (var item in Model.packs)
            {
                <div class="accordion" id="accordionExample">
                    <div class="card border border-info mt-2 shadow mb-5 bg-white rounded">
                        <div class="card-header bg-white d-flex justify-content-between" id="headingOne">
                            <button class="btn" type="button" data-toggle="collapse" data-target="#p_collapse_@item.Id.ToString()" aria-expanded="false" aria-controls="p_collapse_@item.Id.ToString()">
                                <span class="h4 titleText"> @Html.DisplayFor(modelItem => item.Name) </span>
                            </button>
                            <div class="btn-group  w-25">
                                <button type="button" class="btn collapse btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="p_collapse_@item.Id.ToString()" data-parent="#accordionExample">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item"  asp-controller="Home" asp-action="PackTests">Тестирование</a>
                                    <a class="dropdown-item compItem" asp-action="PDetails" asp-route-id="@item.Id">Подробности</a>
                                    @{
                                        if (_signInManager.IsSignedIn(User))
                                        {
                                            <a class="dropdown-item" id="@("p" + item.Id.ToString())" onclick="AddPack(this.id)">Добавить</a>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div id="p_collapse_@item.Id.ToString()" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body  d-flex flex-column">
                                <div class="alert alert-info w-25 text-center">
                                    @foreach (var t in item.TagsId.Split(';'))
                                    {
                                        if (!string.IsNullOrEmpty(t))
                                        {
                                            <span>@Html.DisplayFor(modelItem => modelItem.tags.Find(x => x.Id == int.Parse(t)).Title) </span>
                                        }
                                    }
                                </div>
                                @foreach (var quesId in item.QuestionSet.Split(";"))
                                {
                                    <div class="d-flex justify-content-between pt-3 pb-3">
                                        @Html.DisplayFor(model => model.questions.FirstOrDefault(x => x.question.Id.ToString() == quesId).question.Title)
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</main>

<script>

    
        $(function () {
            $.ajaxSetup({ cache: false });
            $(".compItem").click(function (e) {

                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
        });

    $("#button_Que").click(function () {
        $('#collapseAllPacks').removeClass('show')
    });
    $("#button_Pack").click(function () {
        $('#collapseAllQuestion').removeClass('show')
    });

    function AddQuestion(id) {
        var a = document.getElementById(id);

        if (a.innerHTML != "Добавить") {
            //alert("Error:223");
            return false; 
        }
         a.innerHTML = "Пожалуйста, подождите, идёт процесс добавления...";
        $.ajax(
            {
                type: "Post",
                data: { ques_id: id },
                url: '@Url.Action("AddQuestionToMyLib", "PublicLibrary")',
                success: function (msg) {
                          a.innerHTML = "Добавлено!";
                      },
                error: function (msg) {
                    alert("Error:224");
                      }
                  })

        return false;
    };

    function AddPack(id) {

        var a = document.getElementById(id);

        //if (a.innerHTML != "Добавить") {
        //    //alert("Error:225");
        //    return false;
        //}

             a.innerHTML = "Пожалуйста, подождите, идёт процесс добавления...";
             $.ajax(
                 {
                     type: "POST",
                     data: { pack_id: id },
                     url: '@Url.Action("AddPackToMyLib", "PublicLibrary")',
                     success: function (msg) {
                         a.innerHTML = "Добавлено!";
                     },
                     error: function (msg) {
                         alert("Error:226");
                     }
                 })



             return false;
    };


    $(document).ready(function () {
        if (screen.width < 768) {
            $(document).ready(function () {
                $('.card-header').addClass('flex-column')
                $('.card-header').addClass('mt-2')
            });
        }
    });


</script>
