@model Exam_Helper.Pack
@inject SignInManager<User> _signInManager;
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" style="color:darkred">Подробности пака</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <hr />
    <div class="modal-body">
        <dl class="row">
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Name):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.QuestionSet):
            </dt>
            <dd class="col-sm-10">
                <span style="white-space: pre-wrap;">@Model.QuestionSet</span>
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.Author):
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Author)
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.CreationDate):
            </dt>
            <dd class="col-sm-10">
                @Model.CreationDate.ToString("dd.MM.yyyy")
            </dd>
            <dt class="col-sm-10">
                @Html.DisplayNameFor(model => model.UpdateDate):
            </dt>
            <dd class="col-sm-10">
                @Model.UpdateDate.ToString("dd.MM.yyyy")
            </dd>
            @if (!string.IsNullOrEmpty(Model.TagsId))
            {
                <dt class="col-sm-10">
                    @Html.DisplayNameFor(model => model.TagsId):
                </dt>
                <dd class="col-sm-10">
                    <span style="white-space: pre-wrap;">@Model.TagsId</span>
                </dd>
            }
        </dl>
    </div>

    <div class="modal-footer">
        <div class="form-group">
            <div class="d-flex">
                @if (_signInManager.IsSignedIn(User))
                {
                    <a type="button" class="btn btn-light" onclick="AddPAtPd('@("p" + Model.Id.ToString())')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                }
                <a type="button" class="btn btn-light" asp-action="Index">Вернуться в библиотеку</a>
            </div>

        </div>
    </div>

</div>

<script>
    function AddPAtPd(id) {
        $.ajax(
            {
                type: "Post",
                data: { pack_id: id },
                url: '@Url.Action("AddPackToMyLib", "PublicLibrary")',
                success: function (msg) {
                    CreateAlert("Добавлено.", "info");
                      },
                error: function (msg) {
                    CreateAlert("Что-то пошло не так.", "warning");
                      }
                  })
    }
</script>